{{ partial "header.html" . }}

{{ .Content }}

<table>
  <tr>
    <th></th>
    <th>Date</th>
    <th>Update File Download</th>
    <th>Image Download</th>
    <th>Changelog</th>
  </tr>
  {{ range .Pages.ByDate }}
    <tr>
      <td>{{ .Title }}</td>
      <td>{{ .Date.Format "2006-01-02" }}</td>
      <td>
        {{ if .Params.update }}
        <a href='{{ .Params.update }}'>Download <code>update.tar.xz</code></a>
        {{ else }}
          No update file available
        {{ end }}
      </td>
      <td>
        {{ if .Params.image }}
        <a href='{{ .Params.image }}'>Download <code>pi-image.img.xz</code></a>
        {{ else }}
          No SD card image available
        {{ end }}
      </td>
      <td><a href='{{ .RelPermalink }}'>View Changelog</a></td>
    </tr>
  {{ end }}
</table>

{{ partial "footer.html" . }}
